Import Libraries

In [ ]:
import pandas as pd 
import numpy as np
from numpy.random import choice
import random

Randomly generate user interests (up to 3 interests can be chosen at a time)

In [ ]:
interestsList = ["Health services", "Social services" , "Advocacy and Justice", "Food and Agriculture", "Education", "Environment and Climate change", "Recreation and Leisure", "Technology and Innovation", "Outreach and Advertising", "Child services"]
generatedInterestsListEn = []
generatedInterestsList = []

Encode interests to machine readable binary numbers

In [ ]:
for i in range(12000):
  # randomly choose number of interests 
  numInterests = random.randint(1,3) 
  
  user_InterestsEn =[0,0,0,0,0,0,0,0,0,0]
  user_Interests = []
  for x in range(numInterests):
    generatedInterest = random.choices(interestsList, [0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1])
    # to avoid duplicates
    while (generatedInterest in user_Interests):
        generatedInterest = random.choices(interestsList, [0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1])

    index = interestsList.index(generatedInterest[0])
    user_InterestsEn[index] = 1
    user_Interests.append(generatedInterest)
  
  generatedInterestsListEn.append(user_InterestsEn)
  generatedInterestsList.append(user_Interests)

Randomly generate user age with respect to age demographics in NYC

In [ ]:
ageList = [0,1,2]

generatedAgeArray = choice(ageList,12000, p=[0.10,0.78,0.12])

Randomly generate user borough with respect to population demographics in NYC

In [ ]:
boroughList = ["The Bronx", "Brooklyn", "Manhattan", "Queens", "Staten Island"]

generatedBoroughArray = choice(boroughList,12000, p=[0.17,0.31,0.19,0.27,0.06])

Create dictionary with user information

In [ ]:
dict = {'Age': generatedAgeArray, 'Borough': generatedBoroughArray, 'Interests': generatedInterestsList}

Extract function to get all items in multiple lists at given index

In [ ]:
def Extract(list,index):
    return [item[index] for item in list]

dictionary keys ▶ interests  
dictionary values ▶ whether the interest is chosen

In [ ]:
for i in interestsList:
  dict[i] = Extract(generatedInterestsListEn,interestsList.index(i))

Create dataframe with user information generated above

In [ ]:
df = pd.DataFrame(dict)

One hot encode NYC Boroughs

In [ ]:
one_hotBoroughs = pd.get_dummies(df['Borough'])

Join dataframes

In [ ]:
df_final= df.join(one_hotBoroughs)

Final User Dataset

In [ ]:
df_final

,Age,Borough,Interests,Health services,Social services,Advocacy and Justice,Food and Agriculture,Education,Environment and Climate change,Recreation and Leisure,Technology and Innovation,Outreach and Advertising,Child services,Brooklyn,Manhattan,Queens,Staten Island,The Bronx
0,2,Brooklyn,"[[Child services], [Education], [Health servic...",1,0,0,0,1,0,0,0,0,1,1,0,0,0,0
1,1,Brooklyn,"[[Advocacy and Justice], [Child services]]",0,0,1,0,0,0,0,0,0,1,1,0,0,0,0
2,1,Manhattan,"[[Food and Agriculture], [Advocacy and Justice]]",0,0,1,1,0,0,0,0,0,0,0,1,0,0,0
3,1,Brooklyn,"[[Food and Agriculture], [Recreation and Leisu...",0,0,0,1,0,0,1,0,0,0,1,0,0,0,0
4,2,Staten Island,"[[Child services], [Social services], [Recreat...",0,1,0,0,0,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,0,Brooklyn,[[Food and Agriculture]],0,0,0,1,0,0,0,0,0,0,1,0,0,0,0
11996,1,Manhattan,[[Technology and Innovation]],0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
11997,1,Manhattan,"[[Environment and Climate change], [Education]]",0,0,0,0,1,1,0,0,0,0,0,1,0,0,0
11998,1,Queens,[[Advocacy and Justice]],0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
11999,1,Manhattan,[[Recreation and Leisure]],0,0,0,0,0,0,1,0,0,0,0,1,0,0,0